.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
    height: 100%;
    gap: 0px;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    border: 0px;
    overflow-y: hidden;
}